---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  
  <div class="middle">
    {{ content }}
  </div>

  <div class="card-container">
    <a class="div-link" href="{{ "/tags/code/index.html" | relative_url }}">
      <div class="card">
        <div class="card-title">Code</div>
        <div class="card-description">
          Sample text sample text sample text
        </div>
      </div>
    </a>
    <a class="div-link" href="/tags/personal/index.html">
      <div class="card">
        <div class="card-title">Personal Projects</div>
        <div class="card-description">
          Sample text sample text sample text
        </div>
      </div>
    </a>
    <a class="div-link" href="/tags/design/index.html">
      <div class="card">
        <div class="card-title">Design</div>
        <div class="card-description">
          Sample text sample text sample text
        </div>
      </div>
    </a>
    <a class="div-link" href="http://google.com">
      <div class="card">
        <div class="card-title">Blockchain</div>
        <div class="card-description">
          Sample text sample text sample text
        </div>
      </div>
    </a>
    
  </div>

<!--
  <div class="middle">

    {% capture tags %}
      {% for tag in site.tags %}
        {{ tag[0]}}
      {% endfor %}
    {% endcapture %}
    {% assign sortedtags = tags | split: ' ' | sort %}
    {% for tag in sortedtags %}
      <a href="/tags/{{ tag }}/index.html/">{{ tag }}</a>
    {% endfor %}

    {%- if site.posts.size > 0 -%}
      <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
      <ul class="post-list">
        {%- for post in site.posts -%}
        <li>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </li>
        {%- endfor -%}
      </ul>
  {%- endif -%}
  </div>
</div>
-->